<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Surfhouse</title>

    <link rel="stylesheet" href="/static/packages/fontawesome-free-5.6.3-web/css/all.css">
    <link href="/static/packages/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <div class='header'>
        <div class='container'>
            <nav class="navbar navbar-default xsNavBar visible-xs">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand xsLogo" href="#">Surfhouse</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Apparel</a></li>
                            <li><a href="#">Surf apparel</a></li>
                            <li><a href="#">Windsurf</a></li>
                            <li><a href="#">Kitesurf</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <a href="#" class="logo hidden-xs"></a>
            <div class='welcome_banner'>
                <div class='welcome'>Welcome to surfhouse</div>
                <div class='welcome_text'>
                    The only online store you<br>
                    will ever need for all your<br>
                    windsurfing and kitesurfing<br>
                    and SUP needs
                </div>
            </div>
            <div class='social_icons_header'>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                <a href="https://www.pinterest.ru/"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="funride">
                <div class="funride_header">JP Funride 2014</div>
                <div class="funride_text">Super easy going freeride boards based on the X-Cite Ride shape concept with
                    additional control and super easy jibing. </div>
                <form class="header-button">
                    <button>Buy now</button>
                </form>
            </div>
        </div>
    
    </div>
    <div class='content'>
        <div class="container">
            <div class='row'>
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <ul class="content_menu hidden-xs">
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Apparel</a></li>
                        <li><a href="#">Surf apparel</a></li>
                        <li><a href="#">Windsurf</a></li>
                        <li><a href="#">Kitesurf</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Gadgets</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="now_is_open">
                        <p>
                            Now<br>
                            is<br>
                            open
                        </p>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8">
                    <div class='name_category'>New products</div>
                    <div class='row'>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <div class="product_new">new</div>
                                <img class="product_img" src="/static/images/products/singleThruster.jpg" alt="Single Thruster 2014">
                                <div class="product_name_price">    
                                    <div class="product_name">Single Thruster 2014</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;865.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <div class="product_hot">hot</div>
                                <img class="product_img" src="/static/images/products/freestyleWave.jpg" alt="Freestyle Wave FSW">
                                <div class="product_name_price">
                                    <div class="product_name">Freestyle Wave FSW</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;770.50</div>
                                        <div class="old_price">&euro;&nbsp;1,270.15</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <img class="product_img" src="/static/images/products/whiteCollection.jpg" alt="The White Collection SURFBOARD 2014">
                                <div class="product_name_price">
                                    <div class="product_name">The White Collection SURFBOARD 2014</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;1,580.70</div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <img class="product_img" src="/static/images/products/ogScallop.jpg" alt="OG SCALLOP SOLID">
                                <div class="product_name_price">
                                    <div class="product_name">OG SCALLOP SOLID</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;765.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <img class="product_img" src="/static/images/products/stripe19.jpg" alt="STRIPE 19 QS">
                                <div class="product_name_price">
                                    <div class="product_name">STRIPE 19 QS</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;230.50</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <img class="product_img" src="/static/images/products/yoke19.jpg" alt="Yoke 19 QS">
                                <div class="product_name_price">
                                    <div class="product_name">Yoke 19 QS</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;1,130.70</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='name_category'>Top products</div>
                    <div class='row'>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <!-- <div class="product_new">new</div> -->
                                <img class="product_img" src="/static/images/products/ushinghamLightning.jpg" alt="Ushingham Lightning 2014">
                                <div class="product_name_price">    
                                    <div class="product_name">Ushingham Lightning 2014</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;2,960.95</div>
                                        <div class="old_price">&euro;&nbsp;3,100.15</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <!-- <div class="product_hot">hot</div> -->
                                <img class="product_img" src="/static/images/products/cypherHeat.jpg" alt="CYPHER HEAT VES M">
                                <div class="product_name_price">
                                    <div class="product_name">CYPHER HEAT VES M</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;849.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <img class="product_img" src="/static/images/products/syncroWomens.jpg" alt="The White Collection SURFBOARD 2014">
                                <div class="product_name_price">
                                    <div class="product_name">The White Collection SURFBOARD 2014</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;1,110.99</div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                    <div class='name_category'>Sale products</div>
                    <div class='row'>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <!-- <div class="product_new">new</div> -->
                                <img class="product_img" src="/static/images/products/syncroMens.jpg" alt="SYNCRO MENS QS M">
                                <div class="product_name_price">    
                                    <div class="product_name">SYNCRO MENS QS M</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;249.95</div>
                                        <div class="old_price">&euro;&nbsp;450.15</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <!-- <div class="product_hot">hot</div> -->
                                <img class="product_img" src="/static/images/products/ramosShirt.jpg" alt="RAMOS - SHIRT FOR MEN">
                                <div class="product_name_price">
                                    <div class="product_name">RAMOS - SHIRT FOR MEN</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;459.65</div>
                                        <div class="old_price">&euro;&nbsp;570.65</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 product_unit_sm">
                            <div class="product_unit">
                                <img class="product_img" src="/static/images/products/SixSixOne.jpg" alt="SixSixOne Evo Wired Full Face">
                                <div class="product_name_price">
                                    <div class="product_name">SixSixOne Evo Wired Full Face</div>
                                    <div class="product_price">
                                        <div class="actual_price">&euro;&nbsp;240.00</div>
                                        <div class="old_price">&euro;&nbsp;370.65</div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brand">
                    <div class="brand_1">
                        <div class="brand_3">
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/bicsurf.jpg" alt=""></a>
                            </div>
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/california.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="brand_3">
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/channelIslands.jpg" alt=""></a>
                            </div>
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/cortex.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="brand_1">
                        <div class="brand_3">
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/firewire.jpg" alt=""></a>
                            </div>
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/hs.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="brand_3">
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/lost.jpg" alt=""></a>
                            </div>
                            <div class="brand_element">
                                <a href="#"><img src="/static/images/brands/ninePlus.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instagram">
                    <div class="name_instagram">
                        <div class="content_name_instagram"><i class="fab fa-instagram"></i>Instagram feed: #surfhouse</div>
                    </div>
                    <div class="img_instagram">
                        <div class="img_inst">
                            <img src="/static/images/instagram/insta1.jpg" alt="">
                            <img src="/static/images/instagram/insta2.jpg" alt="">
                            <img src="/static/images/instagram/insta3.jpg" alt="">
                        </div>
                        <div class="img_inst">
                            <img src="/static/images/instagram/insta4.jpg" alt="">
                            <img src="/static/images/instagram/insta5.jpg" alt="">
                            <img src="/static/images/instagram/insta6.jpg" alt="">
                        </div>
                    </div>
                    <div class="img_instagram_2">
                        <div class="img_inst_2">
                            <img src="/static/images/instagram/insta1.jpg" alt="">
                            <img src="/static/images/instagram/insta2.jpg" alt="">
                        </div>
                        <div class="img_inst_2">
                            <img src="/static/images/instagram/insta3.jpg" alt="">
                            <img src="/static/images/instagram/insta4.jpg" alt="">
                        </div>
                        <div class="img_inst_2">
                            <img src="/static/images/instagram/insta5.jpg" alt="">
                            <img src="/static/images/instagram/insta6.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="networks">
    
                    <div class="fb"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></div>
                    <div class="twitter"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></div>
                    <div class="pinterest"><a href="https://www.pinterest.ru/"><i class="fab fa-pinterest-p"></i></a></div>
                </div>
            </div>
       </div>
    </div>
    <div class='footer'>
        <div class="container">
            <div class="footer_inside">
                <div class="footer_inside_1">
                <!--Category-->
                <div class="category">
                    <div class="nameFooter">Category</div>
                    <a href="" class="categ">Home</a>
                    <a href="" class="categ">about us</a>
                    <a href="" class="categ">eshop</a>
                    <a href="" class="categ">Features</a>
                    <a href="" class="categ">new collections</a>
                    <a href="" class="categ">blog</a>
                    <a href="" class="categ">contact</a>
                </div>
                <!--Our Account-->
                <div class="category">
                    <div class="nameFooter">Our Account</div>
                    <a href="" class="categ">Your Account</a>
                    <a href="" class="categ">Personal information</a>
                    <a href="" class="categ">Addresses</a>
                    <a href="" class="categ">Discount</a>
                    <a href="" class="categ">Orders history</a>
                    <a href="" class="categ">Addresses</a>
                    <a href="" class="categ">Search Terms</a>
                </div>
                <!--Our Support-->
                <div class="category">
                    <div class="nameFooter">Our Support</div>
                    <a href="" class="categ">Site Map</a>
                    <a href="" class="categ">Search Terms</a>
                    <a href="" class="categ">Advanced Search</a>
                    <a href="" class="categ">Mobile</a>
                    <a href="" class="categ">Contact Us</a>
                    <a href="" class="categ">Mobile</a>
                    <a href="" class="categ">Addresses</a>
                </div>
                </div>
                <div class="footer_inside_2">
                <!--News letter-->
                <div class="category">
                    <div class="nameFooter">Newsletter</div>
                    <div class="textNewsletter">Join thousands of other people subscribe to our news</div>
                    <div class="email">
                        <input name="email" id="emailUser" type="text" placeholder="   INSERT EMAIL">
                        <input type="submit" value="Submit">
                    </div>
                    <div class="payment">
                        <a href="" class="pay"><img src="/static/images/pay/americanexpress.jpg" alt=""></a>
                        <a href="" class="pay"><img src="/static/images/pay/mastercard.jpg" alt=""></a>
                        <a href="" class="pay"><img src="/static/images/pay/maestro.jpg" alt=""></a>
                        <a href="" class="pay"><img src="/static/images/pay/paypal.jpg" alt=""></a>
                        <a href="" class="pay"><img src="/static/images/pay/discover.jpg" alt=""></a>
                        <a href="" class="pay"><img src="/static/static/images/pay/visa.jpg" alt=""></a>
                    </div>
                </div>
                <!--About Us-->
                <div class="category">
                    <div class="nameFooter">About Us</div>
                    <div class="textAboutUs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </div>
                    <div class="phoneAboutUs">Phone: 1-999-342-9876</div>
                    <div class="phoneAboutUs">E-mail: <a href="" class="emailAbout">info@surfhouse.com</a></div>
                </div>
                </div>
            </div>
            <div class="footer_copyright">
                <div class="footer_copyright_inside">
                    <div class="footer_icons">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.pinterest.ru/"><i class="fab fa-pinterest-p"></i></a>
                        <a href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a>
                        <a href="https://www.tumblr.com/"><i class="fab fa-tumblr"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.rss.ru/"><i class="fas fa-rss"></i></a>
                    </div>
                    <div class="copyright">&copy;2014 SURFHOUSE. All rights reserved - Designed by theuncreativelab.com </div>  
                </div> 
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>